﻿@model IList<Siteware.Domain.Models.Product>

<div class="container">
    <div class="row">
        @foreach (var item in Model.OrderBy(x => x.Nome))
        {
            <div class="col-md-4 text-center productItem">
                <div class="col-md-12">
                    <h2>@item.Nome</h2>
                    <h4>R$@item.Preco</h4>
                    @if (item.Promocao != 0)
                    {
                        <span class="label label-info">Promoção - @(EnumExtension.GetDisplayName<Siteware.Domain.Enum.Promocao>(item.Promocao, "-"))</span>
                    }
                </div>
                <div class="input-group">
                    <div class="col-md-12 marginTop20 input-group text-center">
                        <span class="input-group-btn">
                            <a href="javascript:void(0)" data-promocao="@item.Promocao" data-addproductcart data-idproduct="@item.Id" data-nome="@item.Nome" data-preco="@item.Preco" class="btn btn-success">Adicionar o carrinho <span class="glyphicon glyphicon-shopping-cart"></span></a>
                        </span>
                        <input type="number" class="form-control" min="1" value="1" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
