﻿@model IEnumerable<Siteware.Domain.Models.Product>

@{
    ViewBag.Title = "Produtos";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Cadastrar", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Promocao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderBy(x => x.Nome))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                R$@Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @(EnumExtension.GetDisplayName<Siteware.Domain.Enum.Promocao>(item.Promocao, "-"))
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Detalhar", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                <a href="javascript:void(0)" class="btn btn-danger" data-delete="@item.Id">Deletar</a>
            </td>
        </tr>
    }
</table>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
@section Scripts{
    <script>
        $(function () {
            $("[data-delete]").on("click", function (e) {
                e.preventDefault();
                var resposta = confirm("Deseja realmente excluir?");
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                if (resposta) {
                    var id = $(this).data("delete");
                    var linha = $(this).parent().parent();
                    $.ajax({
                        url: "Product/Delete/",
                        method: "post",
                        data: {
                            Id: id,
                            __RequestVerificationToken: token
                        },
                        success: function (data) {
                            if (data.result == true) {
                                alert(data.message);
                                linha.remove();
                            }
                        }
                    });
                }
            });
        });
    </script>
}
