﻿@using Siteware.UI.MVC.Util
@using Newtonsoft.Json
@using Siteware.Domain.Models
@model List<ItemCartShopping>

<li>
    <a href="javascript:void(0)" data-toggle="dropdown">
        Carrinho de Compras <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> <span class="badge">@Model.Count</span>
    </a>
    @if (Model.Any())
    {
        <ul class="dropdown-menu">
            @foreach (var item in Model.OrderBy(x => x.Product.Nome))
            {
                <li><a href="javascript:void(0)">@item.Product.Nome <span class="label label-info pull-right">Quantidade: @item.Quantidade</span></a></li>
            }
            <li class="divider"></li>
            <li><a href="javascript:void(0)"><b>Total: R$@Model.Sum(x => x.CalculatePromotionalPrice())</b></a></li>
            <li class="divider"></li>
            <li class="text-center">
                <a href="@Url.Action("CartShopping","Home")"> Checkout <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
            </li>
        </ul>
    }
</li>

