﻿@using Siteware.Domain.Enum
@using System.ComponentModel.DataAnnotations
@model IEnumerable<Siteware.Domain.Models.ItemCartShopping>

@{
    ViewBag.Title = "Checkout";
    var Total = Model.Sum(x => x.CalculatePromotionalPrice());
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped table-checkout">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.Nome)
            </th>
            <th>
                Preço
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                Promoção
            </th>
            <th>
                Preço Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(x => x.Product.Nome))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Preco)
                </td>
                <td>
                    <input type="text" disabled class="form-control" value="@item.Quantidade" />
                </td>
                <td>
                    @(EnumExtension.GetDisplayName<Siteware.Domain.Enum.Promocao>(item.Product.Promocao, "-"))
                </td>
                <td>
                    R$@item.CalculatePromotionalPrice()
                </td>
                <td>
                    <a href="javascript:void(0)" data-delete data-idproduct="@item.Product.Id">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><b>Total</b></td>
            <td><b>R$@Model.Sum(x => x.CalculatePromotionalPrice())</b></td>
            <td></td>
        </tr>
    </tfoot>
</table>
<div class="container">
    <a href="@Url.Action("Checkout","Home")" class="btn btn-success pull-right">Finalizar Compra</a>
</div>

@section Scripts{
    <script>

        $("[data-delete]").on("click", function (e) {
            e.preventDefault();
            var resposta = confirm("Deseja realmente excluir?");
            if (resposta) {
                var id = $(this).data("idproduct");
                var linha = $(this).parent().parent();
                $.ajax({
                    url: "/Product/RemoveProductCart/" + id,
                    method: "post",
                    success: function (data) {
                        if (data.result == true) {
                            alert(data.message);
                            location.reload();
                        }
                    }
                });
            }
        });

    </script>
}